aws_region = "us-east-1"

# Replace with your actual API keys
elevenlabs_api_key  = "your-elevenlabs-api-key"
deepgram_api_key    = "your-deepgram-api-key"
openai_api_key      = "your-openai-api-key"
twilio_account_sid  = "your-twilio-account-sid"
twilio_auth_token   = "your-twilio-auth-token"

# ACM Certificate ARN for HTTPS/WSS support
acm_certificate_arn = "arn:aws:acm:region:account-id:certificate/certificate-id"
custom_domain       = "yourdomain.example.com"

# Mailer send
mailersend_api_key  = "your-mailersend-api-key"
mailersend_from_email = "your-mailersend-from-url"

decisionrules_solver_key  = ""
decisionrules_host        = ""
decisionrules_rule_alias  = ""
decisionrules_rule_id     = ""